@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --clr-bg-rs1: #F9F9F9;
    --clr-font-rs1: #1e293b;
    --clr-hover-rs1: #0ea5e9;
    --clr-focus-rs1: #64748b;
}


/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* CONTAINER */
.container {
    width: 92%;
    margin: auto;
    /*border: 2px solid magenta;*/
}

