@media all and (max-width: 650px) {
    .header_nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: var(--clr-bg-rs1);
        width: 100%;
        padding: 1.5em;
        transform: translate(-100%);
    }
    .header-nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }
    .hamburger {
        display: block;
    }
}
